html,
body {
  margin: 0;
}

.box {
  position: relative;
  top: 50vh;
  left: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.rotate-box {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 200px;
  height: 200px;
  transform-origin: top left;
}

.block {
  background-color: blueviolet;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  filter: blur(5px);
}
