html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  overflow-y: scroll;
}

.blob {
  position: relative;
  top: -42px;
  left: -37px;
}

.blob-box {
  grid-column: 1;
  grid-row: 1;
  border-radius: 10px;
  overflow: hidden;
}
.nav {
  background-color: rgb(214, 214, 214);
  width: 70%;
  height: 50px;
  border-radius: 0 0 10px 10px;
  position: sticky;
}
.box {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  top: 16%;
  left: 4%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.rotate-box {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 80px;
  height: 80px;
  transform-origin: top left;
}

.block {
  /* background-color: blueviolet; */
  border-radius: 10px;
  width: 50px;
  height: 50px;
  filter: blur(5px);
}

.square {
  display: grid;
  grid-template: 1fr/1fr;
  width: 70%;
  height: 200px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  margin-top: 110px;
}
